<!DOCTYPE html>
<html>
	<head>
    <%- include('all/meta'); -%>
		<title>KEIHUB</title>
    <%- include('all/css'); -%>
	</head>
	<body class="skin-all">
		<header class="primary">

      <%- include('all/header'); -%>
			<!-- Start nav -->
			<%- include('all/nav'); -%>
			<!-- End nav -->
		</header>

		<section class="home">
			<div class="container">
				<h3>Beranda</h3>
				<b>Selamat datang di KEIHUB</b>
				<br>
			</div>
		</section>

		<!-- Start footer -->
    <%- include('all/footer'); -%>
		<!-- End Footer -->

		<!-- JS -->
    <%- include('all/script'); -%>
	</body>
</html>
