<!DOCTYPE html>
<html>
	<head>
    <%- include('all/meta'); -%>
		<title>KEIHUB</title>
    <%- include('all/css'); -%>
	</head>
	<body class="skin-all">
		<header class="primary">

      <%- include('all/header'); -%>
			<!-- Start nav -->
			<%- include('all/nav'); -%>
			<!-- End nav -->
		</header>

		<section class="home">
			<div class="container">
				<h3>Judul Artikel</h3>
				<p><a href="index">Beranda</a> > Baca > Baca Artikel</p>
				<img src="https://cdn.vox-cdn.com/thumbor/N0LYmOL6j9dY0WCh_sw1zTMzU50=/0x0:1920x1089/1200x800/filters:focal(815x67:1121x373)/cdn.vox-cdn.com/uploads/chorus_image/image/59292793/pubg.0.jpg" alt="Gambar Thumbnail">
				<br>
				<br>
				<p><i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</i></p>
				<br>
				<b>Penulis Artikel : USER &nbsp&nbsp | &nbsp&nbsp Diterbitkan pada : TANGGAL &nbsp&nbsp | &nbsp&nbsp Kategori : KATEGORI, SUB-KATEGORI</b>
				<br>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a class="love"><i class="ion-thumbsup"></i><div> 100</div></a><br><br>
				<a class="love"><i class="ion-android-favorite-outline"></i><div> 100</div></a><br><br>
				<br>
				<b>Komentar Sebagai : USER</b>
				<br>
				<label>Komentar :</label>
				<br>
				<textarea rows="5" cols="151"></textarea>
				<a class="btn btn-success" href="read_article">Kirim</a>
				<a href="read_article" class="btn btn-danger">Batal</a>
			</div>
			</div>
		</section>

		<!-- Start footer -->
    <%- include('all/footer'); -%>
		<!-- End Footer -->

		<!-- JS -->
    <%- include('all/script'); -%>
	</body>
</html>
